# =========================
# POSTGRESQL
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=divisas_db

# =========================
# API SERVER
# =========================
PORT=3000