# =========================
# INFLUXDB
# =========================
INFLUXDB_URL=http://<IP>:8086
INFLUXDB_TOKEN=my-token
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=my-bucket

# =========================
# API SERVER
# =========================
PORT=3000